<%= form_tag parsedata_path, multipart: true do %>
  <label for="site_id"><b>Enter your site's ID : </b></label>
  <%= text_field_tag 'data[site_id]', nil, placeholder: "Enter your site's ID here", :notnull => true %>

  <ul id="crawler-data-list" class="multiple_columns">

    <% @result.each do |result| %>
      <% if result["text"].present? %>
        <li>
          <div class="row">
            <div class="span3">
              <label for="<%= result["path"] %>" title="<%= result["text"]%>"><b><%= result["text"].truncate(100) %></b></label>
            </div>
            <div class="span5">
              <input type="hidden" id="<%= result["path"].gsub('/','').gsub('[','').gsub(']','') %>" value="<%= result["path_structure"] %>" />
              <select>
                <option value=""></option>
                <% map_data_columns.each do |column| %>
                  <option value="<%= result["path"] %>"><%= column %></option>
                <% end %>
              </select>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= submit_tag "Save", data: { confirm: "Are you sure?" }, :class => 'button' %>
<% end %>
