

<!-- Our Work Section -->
<div id="work" class="page">
	<div class="container">
   <!-- Title Page -->
   <div class="row">
    <div class="span12">
      <div class="title-page">
        <h2 class="title">Crawler Tool</h2>

      </div>
    </div>
  </div>
  <!-- End Title Page -->

  <!-- Portfolio Projects -->
  <div class="row">
   <div class="span3">
     <!-- Filter -->
     <nav id="options" class="work-nav">
      <ul id="filters" class="option-set" data-option-key="filter">
       <li class="type-work">Type of HTML</li>
       <li><a href="#filter" data-option-value="*" class="selected">Fixed HTML</a></li>
       <li><a href="#filter" data-option-value=".design">Non-Struture</a></li>

     </ul>
   </nav>
   <!-- End Filter -->
 </div>

 <div class="span9">
   <div class="row">
     <section id="projects">
      <ul id="thumbs">

        <% arrayContent = []
        arrayContent.push ({"name" => "job_name","title" => "Job's name"})
        arrayContent.push ({"name" => "company_name","title" => "Company's name"})
        arrayContent.push ({"name" => "company_address","title" => "Company's address"})
        arrayContent.push ({"name" => "staff_type","title" => "Staff's type"})
        arrayContent.push ({"name" => "job_industry","title" => "Job's industry"})
        arrayContent.push ({"name" => "job_type","title" => "Job's type"})
        arrayContent.push ({"name" => "salary","title" => "Salary"})
        arrayContent.push ({"name" => "work_place","title" => "Work's place(location)"})
        arrayContent.push ({"name" => "job_content","title" => "Job's content"})
        arrayContent.push ({"name" => "priority","title" => "Priority"})
        arrayContent.push ({"name" => "site_id","title" => "Site's ID"})
        arrayContent.push ({"name" => "station","title" => "Station"})
        arrayContent.push ({"name" => "station_id","title" => "Station's ID"})
        arrayContent.push ({"name" => "job_category_id","title" => "Job category's ID"})
        arrayContent.push ({"name" => "job_category","title" => "Job category"})
        arrayContent.push ({"name" => "job_category_sub","title" => "Job category sub"})
        arrayContent.push ({"name" => "job_category_full","title" => "Job category full"})
        arrayContent.push ({"name" => "job_item_id","title" => "Job item's ID"})
        arrayContent.push ({"name" => "job_no","title" => "Job's no"})
        arrayContent.push ({"name" => "job_info_type","title" => "Job infomation's type"})
        arrayContent.push ({"name" => "company_phoneno","title" => "Company's phone"})
        arrayContent.push ({"name" => "company_faxno","title" => "Company's fax"})
        arrayContent.push ({"name" => "company_description","title" => "Company's description"})
        arrayContent.push ({"name" => "work_type","title" => "Work's type"})
        arrayContent.push ({"name" => "work_period","title" => "Work's period"})
        arrayContent.push ({"name" => "limit_age","title" => "Age limit"})
        arrayContent.push ({"name" => "limit_age_reason","title" => "Age limit reason"})
        arrayContent.push ({"name" => "work_hour","title" => "Work's hour"})
        arrayContent.push ({"name" => "lunch_time","title" => "Lunch's time"})
        arrayContent.push ({"name" => "overtime","title" => "Overtime"})
        arrayContent.push ({"name" => "work_day_per_week","title" => "Work day per week"})
        arrayContent.push ({"name" => "bonus","title" => "Bonus"})
        arrayContent.push ({"name" => "day_off","title" => "Day off"})
        arrayContent.push ({"name" => "two_days_off_per_week","title" => "Two days off per week"})
        arrayContent.push ({"name" => "days_off_per_year","title" => "Days off per year"})
        arrayContent.push ({"name" => "child_care_day_off","title" => "Child care day off"})
        arrayContent.push ({"name" => "child_care_place","title" => "Child care's place"})
        arrayContent.push ({"name" => "work_place_change","title" => "Work place's change"})
        arrayContent.push ({"name" => "company_staff_no","title" => "Company staff's no"})
        arrayContent.push ({"name" => "insurances","title" => "Insurances"})
        arrayContent.push ({"name" => "retirement","title" => "Retirement"})
        arrayContent.push ({"name" => "re_apply_job","title" => "Re apply job"})
        arrayContent.push ({"name" => "apply_living_place","title" => "Apply living place"})
        arrayContent.push ({"name" => "commute_by_car","title" => "Commute by car"})
        arrayContent.push ({"name" => "comute_support","title" => "Commute support"})
        arrayContent.push ({"name" => "job_recruit_number","title" => "Job recruit's number"})
        arrayContent.push ({"name" => "education_background","title" => "Education's background"})
        arrayContent.push ({"name" => "required_experience","title" => "Required experience"})
        arrayContent.push ({"name" => "required_certificate","title" => "Required certificate"})
        arrayContent.push ({"name" => "extra_info","title" => "Extra's infomation"})
        arrayContent.push ({"name" => "comments","title" => "Comments"})
        arrayContent.push ({"name" => "registered_date","title" => "Registered's date"})
        arrayContent.push ({"name" => "expiry_date","title" => "Expiry's date"})
        arrayContent.push ({"name" => "contact_place","title" => "Contact's place"})
        arrayContent.push ({"name" => "other_info","title" => "Other infomation"})
        arrayContent.push ({"name" => "tencongty","title" => "Ten cong ty"})
        arrayContent.push ({"name" => "sdt","title" => "phone number"})
        arrayContent.push ({"name" => "email","title" => "Email"})
        arrayContent.push ({"name" => "website","title" => "Website"})
        arrayContent.push ({"name" => "address","title" => "Addess"})
        arrayContent.push ({"name" => "status","title" => "Status"})
        arrayContent.push ({"name" => "map_workplace","title" => "Map workplace"})
        arrayContent.push ({"name" => "map_province","title" => "Map province"})
        arrayContent.push ({"name" => "map_city","title" => "Map city"})
        arrayContent.push ({"name" => "map_district","title" => "Map district"})
        %>

        <%= form_tag parsedata_path, multipart: true do %>
        <ul class="multiple_columns">
          <li>
            <label for="/tuan/nnmtuan/yeah"><b><%= @title.text %></b></label>
            <select id="/tuan/nnmtuan/yeah" name="/tuan/nnmtuan/yeah" >
              <% arrayContent.each do |a|
                name = a["name"]
                title_display = a["title"]
                %>
                <option value="<%= name %>"><%= title_display %></option>
                <% end %>
            </select>
          </li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
          <li>Five</li>
          <li>Six</li>
          <li>Seven</li>
          <li>Eight</li>
          <li>Nine</li>
          </ul>

          <%= submit_tag "Save", data: { confirm: "Are you sure?" }, :class => 'button' %>
          <% end %>

        </ul>
      </section>

    </div>
  </div>
  <!-- End Portfolio Projects -->
</div>
</div>
<!-- End Our Work Section -->




